<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Add necessary meta tags, title, and link to CSS -->
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Divide Page</title>
    <link rel="stylesheet" href="{% static 'styleminipro2.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+63Rm9bq25thIsI6pzxyO5gI3aO5M0q5gqtn4Z9vZ7x0xjB" crossorigin="anonymous">
</head>
<body style="background-image: url('{% static 'Screenshot (219).png' %}'); background-size: cover; background-repeat: no-repeat;">
    <div class="navbar">
        <div class="c1">
        <img src="{% static 'home (1).png' %}" id="home"  onclick="quitopenPopup()" alt="home">
        <p id="settingsText">Home</p>
        </div>
        <div class="c1">
        <img src="{% static 'profile-user.png' %}" id="img1" alt="profile" onclick="openPopup2()">
        <p id="settingsText">Profile</p>
    </div>
        <div class="c1">
        <img src="{% static 'settings (1).png' %}" id="img2" alt="settings" onclick="setopenPopup()">
        <p id="settingsText">Settings</p>
    </div>
       
            <img src="{% static 'pause.png' %}" id="pause" onclick="togglePause()" style="float:right;max-width: 50px;max-height: 50px;position:absolute;right:10px"  alt="pause" >
        
    
    </div>
    <div class="fullcontainer">
        <div class="left-half">
            <!-- Your content for the left half goes here -->
            <a href="{% url 'minidjango:c2' %}">

            <img src="{% static 'back.png' %}" style="position: absolute; height: 35px; width: 35px; cursor: pointer;top:80px;left:10px;"  alt="Back">
        </a>
      
            <div id="container"></div>
            <div class='overlay'>
                <button id="Button" style="display: none;position: absolute;
                left:45%;
                top:320px;" onclick="start()">Click</button>            </div>
            <div id="randomNumber" style="position:absolute;left:46.5%;top:450px;display: none;background-color:orange;font-weight:bold;font-size:20px;border-radius:50%;border:2px solid black;height:50px;width:50px;line-height:50px;text-align:center;">0</div>
        </div>
        <div class="right-half">
            <!-- Your content for the right half goes here -->
            <div class="text" style="position:absolute;top:80px;right:40px;font-size:40px;">SCORE: <span id="score" ></span></div>
            
            <button  id="startButton"  onclick="startGeneratingRandomNumbers()" >Start</button>
            <div id="tickets-container">
                <div id="celeb" ></div>
            </div>
            <div id="output"></div>
            
        </div>
    </div>
    <div class="quitpopup" id="quitpopup">
        <div class="profile-info">
            <h2>Are you sure you want to quit?</h2>
            </div>
            <hr>
            <button id="cancel" style="position:absolute;
            top:150px;
            left:15%;" onclick="quitclosePopup()">Cancel</button>
                    <span><a href="{% url 'minidjango:open' %}">
                        <button id="quit" style="position:absolute;
                        top:150px;
                        left:45%;" >Quit</button>
                    </a></span>
    
        </div>
    <div class="setpopup" id="setpopup">
        <span class="close1" onclick="setclosePopup()">&times;</span>
        <div class="profile-info">
            <p style="font-size:30px" class="profile-name">Settings</p>
        </div>
        <hr>
        <div style="display: flex; flex-direction: column; align-items: center;">
            <p style="margin: 0;">
                <img src="{% static 'left-arrow.png' %}" style="height: 20px; width: 20px;" id="leftarrow" onclick="changeLevel('prev')"> 
                <span id="levelDisplay" style="color: black; font-size: 25px; font-weight: bold;"></span> <!-- Use a span to display the level -->
                <img src="{% static 'right-arrow.png' %}" style="height: 20px; width: 20px;" id="rightarrow" onclick="changeLevel('next')">
            </p>
            <br>
            <button style="background-color: white; border-radius: 25px; min-height: 30px; max-width: 180px; color: black; text-align: center; font-size: 25px; margin-bottom: 10px;">Game rules</button>
            <br>
            <img src="{% static 'mute.png' %}" id="image" style="height: 35px; width: 35px;" alt="Play Audio">
        </div>
        
        
</audio>

    </div>
    <div class="blur-background"></div>
    <div id="popup" class="popup">
        <span class="close" onclick="closePopup2()">&times;</span>
        <div class="overlay"></div>
        <div class="profile-info">
            <div class="profile-img">
                <img src="{% static 'profile-user.png' %}" alt="Profile Image">
            </div>
            <p style="font-size:30px" class="profile-name"></p>
        </div>
        <hr>
        <p style="font-size:30px">High Score</p>
        <div style="display: flex;justify-content: space-around;">
            <p style="font-size:30px">Wins <img src="{% static 'thumbs-up-hand-symbol.png' %}" id='winloss' style="height:50px;width:50px"> </p>
            <p style="font-size:30px">Loss <img src="{% static 'thumbs-down-silhouette.png' %}" id='winloss' style="height:50px;width:50px"> </p>
        </div>
        <a href="{% url 'minidjango:user_login' %}" style="textDecoration:none;">
        <button style="display: flex; align-items: center; justify-content: center; background-color: white; border-radius: 25px; min-height: 30px; max-width: 180px; color: black; text-align: center; font-size: 25px;">
            Log Out
            <span style="margin-left: 5px;"><img style="width: 30px; height: 30px;" src="{% static 'power.png' %}"></span>
        </button>
    </a>
        <button style="display:block;background-color:white;border-radius:25px;min-height:30px;max-width:180px;color:black;top:50%;text-align:center;font-size:25px;float:right;" onclick="editProfile()">Edit Profile</button>
    </div>

    <!-- Other HTML code remains unchanged -->

    <script src="{% static 'scriptmini.js' %}"></script>
</body>
</html>
